.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: grid;
  gap: 40px;
  font-family: var(--main-font, monospace);
  padding-inline: 10px;
  
}


.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 55px;
  position: relative;
  padding-block: 75px 66px;
  height: 100vh;
  min-height: 668px;
}




.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--header-color);
  border-inline-end: 1px solid var(--header-color);
  top: 10px;
  right: 0;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--header-color);
  border-block-end: 1px solid var(--header-color);
  bottom: 10px;
  left: 0;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--header-color);
}

.heading {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: var(--bold-fw);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.decoration {
  color: var(--header-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  align-items: center;

  position: absolute;
  justify-self: end;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decoration::after {
  content: "";
  display: inline-block;
  margin-inline-start: 9px;
  inline-size: 9px;
  block-size: 9px;
  color: var(--header-color);
  background-color: var(--header-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--header-color);
}

.header__theme-menu-button {
  color: var(--header-color);
  background-color: var(--bg-link-color);

  text-transform: lowercase;
  cursor: pointer;
  padding-block: 1.5px;
  padding-inline: 15px;
  border: 1px solid var(--bg-link-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: 1px solid var(--header-color);
}

.header__theme-menu-button_active {
  border-color: var(--header-color);
  cursor: default;
  pointer-events: none;
}

.heading_description {
  font-weight: var(--bold-fw);
  font-size: 18px;
  line-height: 23px;
  justify-content: start;
}

.description_text {
  padding-right: 50px;
  
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--heading-text-color);
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.content {
  display: grid;
  gap: 50px;
 
}

.content-section {
  display: grid;
  gap: 20px;
}

.article-list {
  display: grid;
  gap: 20px;
}

.content_text-block {
  display: grid;
  gap: 10px;
}

.content_title {
  color: var(--title2-text-color);
  font-style: normal;
  font-weight: var(--bold-fw);
  font-size: 18px;
  line-height: 23px;
}

.header_title {
  font-weight: var(--bold-fw);
  font-size: 18px;
  line-height: 23.4px;
}

.content_paragraph {
  font-weight: var(--normal-fw);
  font-size: 18px;
  line-height: 23.4px;

  color: var(--text-color);
}

.block-how .header_title {
  font-weight: var(--normal-fw);
}

.link_effects {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.link_effects:hover {
  border-block-end: 1px solid var(--text-color);
  cursor: pointer;
}

.link_effects:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
  line-height: 32px;
}

.content_subtitle {
  /*min-width: 355px;*/
  margin-block-end: 20px;
  font-style: normal;
  font-weight: var(--bold-fw);
  font-size: 18px;
  line-height: 23px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  
  place-content: center;
  place-items: center;
  margin-block-end: -80px;
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 10px;
  }

  .decoration {
    padding-inline-end: 10px;
    inset-inline-end: 10px;
    inset-block-start: 20px;
  }

  .header {
    min-height: 1024px;
    gap: 157px;
    padding-block: 192px 183px;
    padding-inline: 0 10px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .heading {
    margin-left: -10px;
  }

  .heading_description {
    justify-self: end;
    max-width: 364px;
  }

  .content {
    padding-inline: 10px;
    gap: 80px;
  }

  .content-section-why,
  .content-section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .title-why,
  .title-how {
    width: max(236px);
    grid-column: 1;
  }

  .title-what {
    width: min-content;
  }

  .text-block-why,
  .text-block-how {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .footer {
    min-height: 1024px;
    margin-block-end: -120px;
  }
}

@media (width >= 1024px) {
  

  .header {
    min-height: 768px;
    padding-block-start: 0;
    gap: 140px;
  }

  .header .heading {
  margin-block-start: 135px;
    align-self: center;
  }

  

  .header__theme-menu {
    align-items: start;
    margin-block-start: 19px;
    justify-self: center;
    margin-inline-start: 10px;
  }

  .header__theme-menu-button {
    padding-inline: 16px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .heading_description {
    margin-block-start: -24px;
    max-width: 491px;
    max-height: 71px;
  }

  .description_text {
  justify-self: start;
    padding-right: 0;
  }

  .content-section-why,
  .content-section-how {
    
    grid-template-columns: 1fr 2.06fr;
  }

  .title-why,
  .title-how,
  .title-what {
    width: min(315px);
  }

  .block-what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
  min-height: 768px;
}
}
